.base-navigation {
  padding: 5px 0;
 
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    a {
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }


  .logo {
    height: 50px;
  }
}