@use "../../abstracts/variables" as *;

.base-button {
  padding: $padding-y-lg $padding-x-lg;
  border-radius: $border-radius;
  background-color: $button-bg;
  font-size: $button-text-size;
  border: none;
  color: $button-text;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: .2s all ease;
  letter-spacing: .5px;

  &:hover {
    background-color: $black-color;
  }

  &.btn-sm {
    padding: $padding-y-sm $padding-x-sm;
  }
}