@use "@/scss/abstracts/variables" as *;

.base-input {
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;

  &-label-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px;

    .label {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      margin-right: auto;
      color: #101828;
    }

    .hint {
      font-size: 14px;
      font-weight: 400;
      color: #4a5565;

      i {
        margin-right: -2px;
        color: #00b8db;
      }
    }
  }

  &-wrapper {
    position: relative;

    &.has-error {
      input { border-color: #e7000b }
      .input-icon { color: #e7000b }
    }

    &.is-valid {
      input { border-color: #a2a7b0 }
      .input-icon { color: #9ae600 }
    }

    input {
      font-family: "Inter", sans-serif;
      background-color: #fff;
      border-radius: 6px;
      width: 100%;
      padding: 12px 25px 12px 12px;
      font-size: 14px;
      border: 1px solid #a2a7b0;
      outline: none;
      color: #101828;

      &::placeholder {
        color: #a2a7b0
      }

      &:focus {
        outline: 2px solid #4f39f6;
        outline-offset: -2px;
      }
    }

    .input-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
    }
  }

  .message {
    font-size: 14px;
    display: block;
    line-height: 20px;
    margin-top: 4px;
    font-weight: 400;
    color: #e7000b;
  }
}