@use "../abstracts/variables" as *;

.header-element {
  height: 250px;
  margin-bottom: 80px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .banner {
    background-color: $font-color;
    padding: 15px 0;
    color: white;
  }
}