@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@font-face {
  font-family: "remixicon";
  src: url("//cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'DIN 1451 Std Engschrift';
  font-style: normal;
  font-weight: normal;
  src: local('DIN 1451 Std Engschrift'), url('@/assets/fonts/DINEngschriftStd.woff') format('woff');
}
  

@font-face {
  font-family: 'DIN 1451 Std Mittelschrift';
  font-style: normal;
  font-weight: normal;
  src: local('DIN 1451 Std Mittelschrift'), url('@/assets/fonts/DINMittelschriftStd.woff') format('woff');
}


.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "DIN 1451 Std Mittelschrift", sans-serif;
  color: $font-color;
  letter-spacing: $letter-spacing;
}


a {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  color: $font-color;
}

h1 {
  font-size: 34px;

  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }
}

h3 {
  font-size: 18px;
}
