@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.pre-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.3px;
  line-height: 24px;
  text-transform: uppercase;
}

.strong {
  font-weight: 600;
  color: #09090b;
}

a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  color: $font-color;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4a5565;
  font-weight: 400;
}

span {
  font-family: "Inter", sans-serif;
}

ul {
  padding: none;
  font-size: 14px;
  line-height: 24px;
  color: #4a5565;
  font-family: "Inter", sans-serif;
  list-style: none;

}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.2px;
  margin-top: 8px;
  color: #030712;

  @include media-breakpoint-up(md) {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
  }
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.75px;
  line-height: 36px;
  color: #030712;

  @include media-breakpoint-up(md) {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 50px;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #030712;
}
