.p-auth {
  .container {
    max-width: 550px;
  }

  .header {
    margin-bottom: 35px;
  }

  .form-wrapper {
    padding: 30px 0 50px 0;

    .base-button {
      margin: 20px 0 30px 0;
      width: 100%;
    }
  }

  .error-msg {
    display: none;

    &.visible {
      display: block;
    }
  }
}