@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.p-details {
  margin-top: 80px;

  .details-wrapper {
    margin-top: 20px;
    padding: 20px;
    outline: 1px dashed red;

    @include media-breakpoint-up(lg) {
      display: flex;
      gap: 30px;
    }

    &-section {
      flex-grow: 1;
      min-width: 400px;
      width: 100%;
    }



    .instructions {
      height: 1200px;
      outline: 1px dashed red;
    }

    .details {
      flex-grow: 1;
      width: 100%;
      border-left: 1px solid #f2f2f2;
      padding-left: 20px;

      @include media-breakpoint-up(lg) {
        position: sticky;
        top: 80px;
        height: fit-content;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .info-bar {
        font-size: 14px;
        font-weight: 500;
        margin: 20px 0;

        span {
          margin-right: 12px;

          i { font-weight: 600; }
        }
      }

      .tabs-element {
        margin-top: 32px;

        .tabs-header {
          margin-bottom: 22px;
          background-color: #f2f2f2;
          padding: 4px;
          border-radius: 6px;
          width: fit-content;

          .base-button {
            padding: 6px 12px;

            &.btn-secondary {
              background-color: #fff;
            }

            &:not(:last-child) {
              margin-right: 4px;
            }
          }
        }
        .tabs-content {
          i {
            color: #d7d7d7;
            font-size: 16px;
          }
        }
      }

      .cta-btn {
        width: 100%;
        margin: 32px 0 12px 0;

        i {
          margin-right: 4px;
        }
      }
    }
  }
}