@use "../abstracts/variables" as *;

.p-product {
  .wrapper {
    border: 1px solid rgba(244, 234, 224, 1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin: 50px 0;

    .details-item {
      overflow: hidden;
      position: relative;
      max-height: 300px;

      img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        display: inline-block;
        transition: .2s all ease-out;
      }

      &-details {
        position: absolute;
        bottom: 0;
        width: 100%;

        display: flex;
        align-items: center;
        padding: 10px 15px;
        background-color: #333;
        color: #fff;

        .badge {
          outline: 3px solid $primary-color;
          background-color: rgb(32, 32, 32);
          padding: 4px;
          margin-left: 12px;
          display: inline-block;
          border-radius: 4px;
        }
      }
    }
  }
}