$main-font: "Staatliches", sans-serif;
$navigation-height: 60px;

$font-color: #333;

//buttons
$button-bg: #222;
$button-text: #fff;
$button-text-size: 14px;
$letter-spacing: 1.4px;

//paddings
$padding-x-lg: 32px;
$padding-y-lg: 14px;

$padding-x-sm: 27px;
$padding-y-sm: 9px;

$border-radius: 4px;

$primary-color: #872b2b;
$secondary-color: blue;
$white-color: #fff;
$black-color: #000;