.breadcrumbs-element {
  background-color: #333;
  padding: 20px 0 16px 0;
  color: white;

  .breadcrumb-item {
    color: white;
    margin-right: 22px;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;

    &.chevron {
      &:after {
        position: absolute;
        left: calc(100% + 2px);
        top: -1px;
        font-family: "remixicon";
        content: "\EA54";
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}