@use "@/scss/abstracts/breakpoints" as *;
@use "@/scss/abstracts/variables" as *;
@use "@/scss/abstracts/mixins" as *;

.card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: $card-box-shadow;
  background-color: #fff;

  &:hover {
    img {
      transform: scale(1.025);
    }
  }

  &-header {
    height: 256px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: .2s all ease-out;
    }
  }

  &-body {
    padding: 24px;

    .header {
      display: flex;justify-content: space-between;
    }

    .description {
      @include line-clamp(2);
      margin-top: 8px;
    }
  }

  &-footer {
    border-top: 1px solid #e5e7eb;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 14px;
      font-weight: 600;
    }
  }
}