@use "@/scss/abstracts/breakpoints" as *;
@use "@/scss/abstracts/variables" as *;
@use "@/scss/abstracts/mixins" as *;

.card {
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.025);
    }
  }

  &-header {
    height: 256px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: .2s all ease-out;
    }
  }

  &-body {
    background-color: #f2f2f2;
    padding: 24px 24px 12px 24px;

    .header {
      display: flex;justify-content: space-between;
    }

    .description {
      @include line-clamp(2);
      margin-top: 8px;
    }
  }

  &-footer {
    background-color: #f2f2f2;
    padding: 4px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 600;
    }

    .base-button {
      padding: 10px 12px;
    }
  }
}