@use "@/scss/abstracts/breakpoints" as *;
@use "@/scss/abstracts/variables" as *;
@use "@/scss/abstracts/mixins" as *;

.hero-element {
  background-color: #2c3e50;
  background-image: url("@/assets/images/header-default.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .scroll-icon {
    color: #fff;
    font-size: 50px;
    text-align: center;
    display: block;
    margin-top: 150px;
  }

  .content {
    width: 100%;
    margin-top: 150px;

    .pre-title {
      color: #fff;
    }

    .hero-title {
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      letter-spacing: -3px;
      color: #fff;

      @include media-breakpoint-up(md) {
        font-size: 96px;
        letter-spacing: -4.8px;
        line-height: 96px;
      }
    }

    .hero-subtitle {
      color: #fff;
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      margin: 32px 0;
    }

    .action-elements {
      .base-button {
        width: 100%;
        margin-bottom: 8px;

        @include media-breakpoint-up(md) {
          width: auto;
          margin-right: 8px;
        }
      }
    }
  }
}