@use "@/scss/abstracts/variables" as *;

.navigation-element {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 5px 0;
  z-index: 1;
  top: 0;
  border-bottom: 1px solid #e5e7eb;
 
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    a {
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }

      &:hover {
        text-decoration: underline;
      }
    }


  .logo {
    height: 50px;
  }
}